<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="/back/assets/images/icon.png" type="image/png" />
    <!--plugins-->
    <link href="/back/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="/back/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="/back/assets/plugins/highcharts/css/highcharts-white.css" rel="stylesheet" />
    <link href="/back/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <link href="/back/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- loader-->
    <link href="/back/assets/css/pace.min.css" rel="stylesheet" />
    <script src="/back/assets/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="/back/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="/back/assets/css/app.css" rel="stylesheet">
    <link href="/back/assets/css/icons.css" rel="stylesheet">

    <title>
        Foodine | {% block title %}{% endblock %}
    </title>
</head>

<body class="bg-theme bg-theme6">
<!--wrapper-->
<div class="wrapper">
    <!--start header -->
    <header>
        <div class="topbar d-flex align-items-center">
            <nav class="navbar navbar-expand">
                <div class="topbar-logo-header">
                    <div class="">
                        {% for role in app.user.Roles %}


                            {% if role=="ROLE_CHEF" %}
                                <a href="/chef" ><img src="/back/assets/images/logo-white.png" class="logo-icon" alt="logo icon"></a>
                            {% elseif role=="ROLE_LIVREUR" %}
                                <a href="/livreur" ><img src="/back/assets/images/logo-white.png" class="logo-icon" alt="logo icon"></a>
                            {% elseif role=="ROLE_ADMIN" %}
                                <a href="/admin" ><img src="/back/assets/images/logo-white.png" class="logo-icon" alt="logo icon"></a>
                            {% endif %}

                        {% endfor %}

                    </div>
                    <div class="">
                        <!--<h4 class="logo-text">Foodine</h4>-->
                    </div>
                </div>
                <div class="mobile-toggle-menu"><i class='bx bx-menu'></i></div>
                <div class="search-bar flex-grow-1">

                </div>
                {% block notif %}
                {% endblock %}
                <div class="user-box dropdown">
                    <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('uploads/' ~ app.user.file ) }}" class="user-img" alt="user avatar">
                        <div class="user-info ps-3">
                            <p class="user-name mb-0">{{app.user.Nom }} {{app.user.Prenom }} </p>
                            <p class="designattion mb-0">

                                {% for role in app.user.Roles %}


                                    {% if role=="ROLE_CHEF" %}
                                    Chef
                                {% elseif role=="ROLE_LIVREUR" %}
                                    Livreur
                                {% elseif role=="ROLE_ADMIN" %}
                                    Admin
                                {% endif %}

                                {% endfor %}



                            </p>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">

                        <li><a class="dropdown-item" href="{{ path('logout') }}"><i class='bx bx-log-out-circle'></i><span>Déconnexion</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--end header -->
    <!--navigation-->

    <div class="nav-container">
        {% if is_granted("ROLE_ADMIN") %}
        <div class="mobile-topbar-header">
            <div>
                <!--	<img src="/back/assets/images/logoo.png" class="logo-icon" alt="logo icon"> -->
            </div>
            <div>
                <a href="index.html">	<h4 class="logo-text">Foodine</h4></a>
            </div>
            <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
            </div>
        </div>

        <nav class="topbar-nav">
            <ul class="metismenu" id="menu">
                <li>
                    <a href="table-prod.html" class="">
                        <div class="parent-icon"><i class='bx bx-package'></i>
                        </div>
                        <div class="menu-title">Produits</div>
                    </a>


                <li>
                    <a href="table-categ.html" class="">
                        <div class="parent-icon"><i class="bx bx-category"></i>
                        </div>
                        <div class="menu-title">Catégories</div>
                    </a>

                </li>
                <li>
                    <a class="" href="/admin-evenements">
                        <div class="parent-icon"><i class="bx bx-calendar-event"></i>
                        </div>
                        <div class="menu-title">Evénements</div>
                    </a>

                </li>
                <li>
                    <a class="" href="/admin-promotions">
                        <div class="parent-icon"><i class='bx bx-money'></i>
                        </div>
                        <div class="menu-title">Promotions</div>
                    </a>

                </li>
                <li>
                    <a class="" href="{{ path('admin_showUsers') }}">
                        <div class="parent-icon"><i class="bx bxs-user-badge"></i>
                        </div>
                        <div class="menu-title">Utilisateurs</div>
                    </a>

                </li>
                <li>
                    <a class="" href="{{path('show_rec')}}">
                        <div class="parent-icon"><i class='bx bx-message-square-edit'></i>
                        </div>
                        <div class="menu-title">Réclamations</div>
                    </a>

                </li>


                <li>
                    <a class="" href="table-commande.html">
                        <div class="parent-icon"><i class='bx bx-purchase-tag'></i>
                        </div>
                        <div class="menu-title">Commandes</div>
                    </a>

                </li>

                <li>
                    <a class="" href="table-reservation.html">
                        <div class="parent-icon"><i class='bx bx-calendar'></i>
                        </div>
                        <div class="menu-title">Réservations</div>
                    </a>

                </li>

                <li>
                    <a class="" href="table-table.html">
                        <div class="parent-icon"><i class='bx bx-chair'></i>
                        </div>
                        <div class="menu-title">Tables</div>
                    </a>

                </li>

            </ul>
        </nav>
        {% elseif is_granted("ROLE_CHEF") %}
            <div class="mobile-topbar-header">
                <div>
                    <!--	<img src="assets/images/logoo.png" class="logo-icon" alt="logo icon"> -->
                </div>
                <div>
                    <a href="indexChef.html">	<h4 class="logo-text">Foodine</h4></a>
                </div>
                <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
                </div>
            </div>
            <nav class="topbar-nav">
                <ul class="metismenu" id="menu">
                    <li>
                        <a href="table-planning.html" class="">
                            <div class="parent-icon"><i class='bx bx-calendar'></i>
                            </div>
                            <div class="menu-title">Planning</div>
                        </a>


                    <li>
                        <a href="table-recette.html" class="">
                            <div class="parent-icon"><i class="bx bx-receipt"></i>
                            </div>
                            <div class="menu-title">Recettes</div>
                        </a>

                    </li>

                </ul>
            </nav>
        {% elseif is_granted("ROLE_LIVREUR") %}
            <div class="mobile-topbar-header">
                <div>
                    <!--	<img src="assets/images/logoo.png" class="logo-icon" alt="logo icon"> -->
                </div>
                <div>
                    <a href="IndexLivreur.html">	<h4 class="logo-text">Foodine</h4></a>
                </div>
                <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
                </div>
            </div>
            <nav class="topbar-nav">
                <ul class="metismenu" id="menu">
                    <li>
                        <a href="table-livraison.html" class="">
                            <div class="parent-icon"><i class='bx bx-package'></i>
                            </div>
                            <div class="menu-title">Livraisons</div>
                        </a>



                </ul>
            </nav>
        {% endif %}
    </div>
    <!--end navigation-->

    {% block content %}

    {% endblock %}

<!--start overlay-->
<div class="overlay toggle-icon"></div>
<!--end overlay-->
<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
<!--End Back To Top Button-->
<footer class="page-footer">
    <p class="mb-0">Copyright © 2021. All right reserved.</p>
</footer>
</div>
<!--end wrapper-->
<!--start switcher-->
<div class="switcher-wrapper">
    <div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
    </div>
    <div class="switcher-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0 text-uppercase">Theme Customizer</h5>
            <button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
        </div>
        <hr/>
        <p class="mb-0">Gaussian Texture</p>
        <hr>

        <ul class="switcher">
            <li id="theme1"></li>
            <li id="theme2"></li>
            <li id="theme3"></li>
            <li id="theme4"></li>
            <li id="theme5"></li>
            <li id="theme6"></li>
        </ul>
        <hr>
        <p class="mb-0">Gradient Background</p>
        <hr>

        <ul class="switcher">
            <li id="theme7"></li>
            <li id="theme8"></li>
            <li id="theme9"></li>
            <li id="theme10"></li>
            <li id="theme11"></li>
            <li id="theme12"></li>
            <li id="theme13"></li>
            <li id="theme14"></li>
            <li id="theme15"></li>
        </ul>
    </div>
</div>
<!--end switcher-->
<!-- Bootstrap JS -->
<script src="/back/assets/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<!--plugins-->
<script src="/back/assets/js/jquery.min.js"></script>
<script src="/back/assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="/back/assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="/back/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="/back/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="/back/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/back/assets/plugins/highcharts/js/highcharts.js"></script>
<script src="/back/assets/plugins/highcharts/js/exporting.js"></script>
<script src="/back/assets/plugins/highcharts/js/variable-pie.js"></script>
<script src="/back/assets/plugins/highcharts/js/export-data.js"></script>
<script src="/back/assets/plugins/highcharts/js/accessibility.js"></script>
<script src="/back/assets/plugins/apexcharts-bundle/js/apexcharts.min.js"></script>

{#Calendar Script#}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            initialView: 'dayGridMonth',
            initialDate: '2020-09-12',
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            nowIndicator: true,
            dayMaxEvents: true, // allow "more" link when too many events
            editable: true,
            selectable: true,
            businessHours: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events: [{
                title: 'All Day Event',
                start: '2020-09-01',
            }, {
                title: 'Long Event',
                start: '2020-09-07',
                end: '2020-09-10'
            }, {
                groupId: 999,
                title: 'Repeating Event',
                start: '2020-09-09T16:00:00'
            }, {
                groupId: 999,
                title: 'Repeating Event',
                start: '2020-09-16T16:00:00'
            }, {
                title: 'Conference',
                start: '2020-09-11',
                end: '2020-09-13'
            }, {
                title: 'Meeting',
                start: '2020-09-12T10:30:00',
                end: '2020-09-12T12:30:00'
            }, {
                title: 'Lunch',
                start: '2020-09-12T12:00:00'
            }, {
                title: 'Meeting',
                start: '2020-09-12T14:30:00'
            }, {
                title: 'Happy Hour',
                start: '2020-09-12T17:30:00'
            }, {
                title: 'Dinner',
                start: '2020-09-12T20:00:00'
            }, {
                title: 'Birthday Party',
                start: '2020-09-13T07:00:00'
            }, {
                title: 'Click for Google',
                url: 'http://google.com/',
                start: '2020-09-28'
            }]
        });
        calendar.render();
    });
</script>

<script src="/back/assets/js/dashboard-sales.js"></script>
<!--app JS-->
<script src="/back/assets/js/app.js"></script>
<script>
    new PerfectScrollbar('.customers-list');
    new PerfectScrollbar('.store-metrics');
    new PerfectScrollbar('.product-list-2');
</script>
</body>

</html>